.headling {
  margin: 0;
  font-size: 36px;
  line-height: 46px;
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  font-weight: 600;
}

@media (max-width: 575px) {
  .headling {
    font-size: 32px;
    line-height: 42px;
  }
}