.input {
  font-size: 16px;
  line-height: 24px;
  padding: 16px 18px;
  border-radius: 12px;
  font-weight: 400;
  background-color: var(--background-color);
  border: solid 0.5px var(--placeholder-color);
  outline: solid 2px transparent;
  color: var(--text-color);
  transition: outline-color 0.2s, border-color 0.2s;
  width: 100%;
  -webkit-text-security: none;
}

.input::placeholder {
  color: var(--placeholder-color);
}

.input:focus {
  outline: 2px solid var(--outline-color);
  border-color: transparent;
}

.input.invalid {
  outline: 2px solid var(--outline-color-error);
  border-color: transparent;
}

.input:-webkit-autofill {
  background-color: var(--background-color) !important;
  -webkit-box-shadow: 0 0 0 100px var(--webkit-autofill-backbround) inset !important;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}