.input {
  font-size: 18px;
  line-height: 24px;
  padding: 20px 24px;
  border-radius: 16px;
  font-weight: 400;
  background-color: var(--background-color);
  border: solid 0.5px var(--placeholder-color);
  outline: solid 2px transparent;
  color: var(--text-color);
  transition: outline-color 0.2s, border-color 0.2s;
  width: 100%;
}

.input::placeholder {
  color: var(--placeholder-color);
}

.input:focus {
  outline: 2px solid var(--outline-color);
  border-color: transparent;
}

.input.invalid {
  outline: 2px solid var(--outline-color-error);
  border-color: transparent;
}