.theme-button {
  display: flex;
  background-color: var(--background-color);
  padding: 15px;
  border-radius: 16px;
  border: solid 0.5px var(--placeholder-color);
  outline: solid 2px transparent;
  color: var(--text-color);
  transition: outline-color 0.2s, border-color 0.2s;
  cursor: pointer;
}

.theme-button svg path {
  fill: var(--text-color)
}