:root {
  --main-color: #26655e;

  --second-color: #36cb7d;
  --second-color-hovered: #30b872;
  --second-color-active: #2aa465;

  --accent-color: #b93ba7;
  --accent-color-hovered: #a63495;
  --accent-color-active: #9b308b;

  --outline-color: #41f698;
  --outline-color-accent: #ff8fee;
  --outline-color-error: #df2626;

  --background-color: #222222;
  --text-color: #fbfbfb;
  --invert-color: #161616;

  --placeholder-color: #808080;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}