.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 60px;
  border-radius: 32px;
  border: 0.5px solid var(--placeholder-color);
  max-width: 520px;
  width: 100%;
  background-color: var(--background-color);
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-size: 16px;
  color: var(--label-color);
}

.button {
  margin-top: 20px;
}

.more-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-wrapper span {
  color: var(--label-color);
}

.link {
  margin-top: 8px;
  text-decoration: none;
  color: var(--second-color);
}

@media (max-width: 575px) {
  .form-wrapper {
    padding: 0 20px;
    border-color: transparent;
    gap: 25px;
  }
}