.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px 40px;
  border-radius: 8px;
  border: 0.5px solid var(--placeholder-color);
  max-width: 450px;
  width: 100%;
  background-color: var(--background-color);
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  margin-top: 30px;
}

.more-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-wrapper span {
  color: var(--label-color);
}

.link {
  margin-top: 6px;
  text-decoration: none;
  color: var(--second-color);
}

.link:focus {
  outline: none;
  color: var(--second-color-active);
  text-decoration: underline;
}

@media (hover: hover) {
  .link:hover {
    color: var(--second-color-hovered);
  }
  .link:hover {
    color: var(--second-color-active);
  }
}

@media (max-width: 575px) {
  .form-wrapper {
    padding: 0 20px;
    border-color: transparent;
    gap: 25px;
  }
}